django
django-grappelli
django-allauth
django-guardian
django-oauth-toolkit
djangorestframework
django-rest-swagger
django-redis
wagtail
django-mptt
django-haystack
django-debug-toolbar
django-extensions
whitenoise
django-oscar
django-anymail
django-storages
django-imagekit
django-crispy-forms
django-filter
django-modeltranslation
django-seed
raven
django-payments
django-watson
django-axes
djangorestframework-jsonapi
social-auth-app-django
django-distill
django-filer
django-compressor
pytest-django
django-parler
django-user-accounts
django
psycopg2
gdal
djangorestframework
djangorestframework-gis
django-leaflet
geojson
shapely
pyproj